<div>
	{{status_text}}
</div>
<form id="my_form" (ngSubmit)="onSubmitJs()">
	<input type="text" name="some_value"
		   required [(ngModel)]="model.some_value" value="">
	<input type="submit" value="Save"/>
	<input type="button" (click)="onSubmitJS()" value="test JS">
	<input type="button" (click)="onSubmitPHP()" value="test PHP">
</form>